/* frontend/src/App.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #333;
}

.app-container {
  max-width: 90%;
  padding: 50px 20px;
  margin: 0 auto;
  border-radius: 8px;
}

.sticky-search-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-input {
  flex-grow: 1;
  background-color: #f0f4f8;
}

.search-button {
  height: 55px;
  background-color: #1976d2;
  color: white;
  border-radius: 10px;
  padding: 0 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button:hover {
  background-color: #ffffff; /* White background */
  color: #1976d2; /* Blue text */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.error-message {
  margin-top: 10px;
  color: #ff3860;
  font-weight: 500;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px; /* Increased vertical spacing from search bar */
}

.sort-select, .order-select {
  min-width: 150px;
}

.articles-list {
  margin-top: 30px;
}

.article-card {
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  cursor: pointer;
}

.article-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #ffffff; /* White background */
  color: #1a73e8; /* Blue text */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

input[type="text"] {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #ddd;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #1a73e8;
  box-shadow: 0 0 10px rgba(26, 115, 232, 0.2);
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(26, 115, 232, 0.3);
}

.MuiCircularProgress-root {
  margin: 20px auto;
  display: block;
}

.summary-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease;
  z-index: 1000;
  overflow-y: auto;
}

.no-articles-message {
  font-size: 1.2rem;
  color: #6c757d;
  text-align: center;
  margin-top: 30px;
}
