# app/requirements.txt
Flask==2.3.2
requests==2.31.0
pymongo==4.5.0
apscheduler==3.10.1
Flask-CORS==3.0.10
google-generativeai==0.8.3
bs4==0.0.2
python-dotenv==1.0.1
marshmallow==3.23.1
lxml==5.3.0
selenium==4.26.1
webdriver-manager==4.0.2
feedparser==6.0.11