# deployment/docker-compose.yml
services:
  backend:
    build: 
      context: ../app
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ../app:/app
    networks:
      - app-network
    environment:
      - MONGO_URI=${MONGO_URI}         # Use the MongoDB Atlas URI from environment variables
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - PINECONE_API_KEY=${PINECONE_API_KEY}
      - PINECONE_INDEX_NAME=${PINECONE_INDEX_NAME:-aggsum}  # Optional: defaults to 'aggsum'
      - PYTHONPATH=/app                # Ensures correct path for Python imports
    depends_on:
      - scheduler                      # Backend depends on the scheduler service

  frontend:
    build: 
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/frontend
    networks:
      - app-network

  scheduler:
    build:
      context: ../app
    command: python api/scheduler.py
    volumes:
      - ../app:/app
    networks:
      - app-network
    environment:
      - MONGO_URI=${MONGO_URI}         # Use MongoDB Atlas
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - PINECONE_API_KEY=${PINECONE_API_KEY}
      - PINECONE_INDEX_NAME=${PINECONE_INDEX_NAME:-aggsum}  # Optional: defaults to 'aggsum'
      - PYTHONPATH=/app

networks:
  app-network:
